{% extends "base.html" %}
<!-- pemisah -->
{% load static %}
<!-- pemisah -->
{% block title %} {{page_title}} {% endblock title %}

<!-- pemisah -->
{% block navbar %}
<!-- <div class="mx-auto bg-light" style="max-width: 600px; min-height: 100vh"> -->
<div class="mx-auto bg-light" style="min-height: 100vh">
  <!-- <div class="mx-auto d-flex text-light bg-primary" style="max-width: 600px"> -->
  <div class="mx-auto d-flex text-light bg-primary">
    <div class="m-3 py-2 px-2">
      <img src="{% static 'img/logo-hsi.png' %}" width="100px" height="100px" />
    </div>
    <div class="mt-5">
      <h3>EAS - Evaluasi Akhir Sandbox</h3>
    </div>
    <!-- midik -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      aksdhaksh
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-hl">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="{% url 'home' %}"
            ><strong>Home</strong></a
          >
        </li>
        <li class="nav-item nav-hl">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="{% url 'evaluasi:view' %}"
            ><strong>Evaluasi</strong></a
          >
        </li>
      </ul>
      <!-- <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a> -->
      <div class="d-flex align-items-center ms-auto">
        <i class="bi bi-box-arrow-right text-light me-2"></i>
        <a href="{% url 'logout' %}" class="text-light text-decoration-none"
          ><strong>Logout</strong></a
        >
      </div>
    </div>
    <!-- midik -->
  </div>

  {% endblock navbar %}
  <!-- pemisah -->
  {% block contents %}
  <div><h5 class="text-secondary mt-3">Assalaamu'alaikum</h5></div>
  <div><h1 class="text-primary">{{ page_text }}</h1></div>
  <div class="mt-3 text-center">
    <a href="{% url 'login' %}" class="btn btn-info btn-lg w-25 mt-5"
      ><h4>Login</h4></a
    >
  </div>
  {% endblock contents %}
</div>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }} EAS</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body class="bg-light" style="background-color: #e9ecef">
    <h1 class="text-center text-light bg-primary">{{ page_text }}</h1>

    <div class="mt-3 text-center">
      <a href="{% url 'login' %}" class="btn btn-link">Login</a>
    </div>

    <script
      src="{% static 'js/popper.min.js' %}"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'js/bootstrap.min.js' %}"
      type="text/javascript"
    ></script>
  </body>
</html> -->
