{% extends "base.html" %}
<!-- pemisah -->
{% load static %}
<!-- pemisah -->
{% block title %} {{page_title}} {% endblock title %}
<!-- pemisah -->
{% block contents %}
<div
  class="d-flex align-items-center justify-content-center"
  style="min-height: 70vh"
>
  <div class="w-100">
    <div
      class="card shadow-lg mx-auto p-5 bg-white text-center"
      style="max-width: 700px; width: 70%; border-radius: 20px"
    >
      <h5 class="text-secondary mb-1" style="font-weight: 400">
        Assalaamu'alaikum
      </h5>

      <h1 class="text-primary display-5 mb-4 font-weight-bold">
        <strong>{{ page_text }}</strong>
      </h1>

      <p class="text-muted mb-4 px-3">
        Selamat datang di <b>EAS - Evaluasi Akhir Sandbox</b>. <br />Silakan
        tekan tombol di bawah ini untuk masuk ke halaman login dan memulai sesi
        evaluasi Anda.
      </p>
      <div class="d-flex justify-content-center">
        <a
          href="{% url 'login' %}"
          class="btn btn-primary mt-3 shadow-lg rounded-pill"
          style="letter-spacing: 1px; min-width: 150px"
        >
          <strong>M A S U K</strong>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock contents %}
